<app-nav-bar></app-nav-bar>
<div class="home composition">
  <div class="scroll-menu">
    <app-card [title]="'Mobile internet'" class="item"></app-card>
    <app-card [title]="'Home internet'" class="item"></app-card>
    <app-large-card [title]="'Get a device'" class="big-item"></app-large-card>
    <app-card [title]="'Add a phone-line'" class="item"></app-card>
    <app-card [title]="'Upgrade'" class="item"></app-card>
  </div>
  <div class="caption">What are you
    <strong>here to do?</strong>
  </div>
  <app-button class="left-arrow" [iconName]="'fa fa-chevron-circle-left'"></app-button>
  <app-button class="right-arrow" [iconName]="'fa fa-chevron-circle-right'"></app-button>
</div>
