@media only screen and (max-width: 1080px) {
  .home {
    height: 100vh;
    position: relative;
  }

  .left-arrow{
    position: absolute;
    left: 220px;
    top: 600px;
    font-size: 40px;
  }

  .right-arrow {
    position: absolute;
    right: 220px;
    top: 600px;
    font-size: 40px;
  }


  .scroll-menu {
    overflow: auto;
    white-space: nowrap;
    padding-top: 120px;
    padding-bottom: 108px;
    width: 1320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    width: 152px;
    height: 80px;
    color: #232323;
    position: absolute;
    left: 186px;
    top: 160px;
    font-family: "Work Sans";
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 28px;
    word-wrap: break-word;
  }

  .scroll-menu > * {
    margin-left: 8px;
    margin-right: 8px;
  }

  .item {
    display: inline-block;
    margin-top: 140px;
  }

  .big-item {
    display: inline-block;
  }

  .composition {
    width: 1080px;
    height: 100vh;
    background-image:
            linear-gradient(to right, #FF0000, #FF0000),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, #FF0000, #FF0000),
            none;
    background-repeat: no-repeat;
    background-position:
            0 0,
            164px 0,
            244px 0,
            260px 0,
            340px 0,
            356px 0,
            436px 0,
            452px 0,
            532px 0,
            548px 0,
            628px 0,
            644px 0,
            724px 0,
            740px 0,
            820px 0,
            836px 0,
            916px 0,
            1080px 0,
            0 0;
    background-size:
            164px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            16px 100%,
            80px 100%,
            164px 100%,
            100% 100%;
  }
}

@media only screen and (min-width: 1081px) {
  .home {
    height: 100vh;
    position: relative;
  }

  .left-arrow{
    position: absolute;
    left: 364px;
    top: 640px;
    font-size: 40px;
  }

  .right-arrow {
    position: absolute;
    right: 364px;
    top: 640px;
    font-size: 40px;
  }


  .scroll-menu {
    overflow: auto;
    white-space: nowrap;
    padding-top: 160px;
    padding-bottom: 196px;
    display: flex;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    width: 200px;
    height: 80px;
    color: #232323;
    position: absolute;
    left: 284px;
    top: 184px;
    font-family: "Work Sans";
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 28px;
    word-wrap: break-word;
  }

  .scroll-menu > :first-child {
    margin-right: 12px;
  }

  .scroll-menu > :last-child {
    margin-left: 12px;
  }

  .scroll-menu > *:not(:first-child):not(:last-child) {
    margin-left: 12px;
    margin-right: 12px;
  }

  .item {
    display: inline-block;
    margin-top: 140px;
  }

  .big-item {
    display: inline-block;
  }

  .composition {
    width: 1440px;
    height: 100vh;
    background-image:
            linear-gradient(to right, #FF0000, #FF0000),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, rgb(5, 50, 65, 32), rgb(5, 50, 65, 32) ),
            linear-gradient(to right, rgb(245, 245, 245, 48), rgb(245, 245, 245, 48) ),
            linear-gradient(to right, #FF0000, #FF0000),
            none;
    background-repeat: no-repeat;
    background-position:
            0 0,
            60px 0,
            148px 0,
            172px 0,
            260px 0,
            284px 0,
            372px 0,
            396px 0,
            484px 0,
            508px 0,
            596px 0,
            620px 0,
            708px 0,
            732px 0,
            820px 0,
            844px 0,
            932px 0,
            956px 0,
            1044px 0,
            1068px 0,
            1156px 0,
            1180px 0,
            1268px 0,
            1292px 0,
            1380px 0,
            1440px 0,
            0 0;
    background-size:
            60px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            24px 100%,
            88px 100%,
            60px 100%,
            100% 100%;
  }
}

@media only screen and (min-width: 1500px) {
  //.home {background: pink;}
}
