<div id="progressbar">
  <div></div>
</div>
<div class="top-nav">
  <a class="menu-item store">Store</a>
  <a class="menu-item products-and-services">Products & Services</a>
  <a class="menu-item help-and-support">Help & Support</a>
  <a class="dropdown-menu">PERSONAL</a>
  <app-button class="menu-icon" [iconName]="'fa-angle-down'"></app-button>
  <div class="oval"></div>
  <div class="pill-button">
    <div class="personal">PERSONAL</div>
    <div class="business">BUSINESS</div>
  </div>
  <div class="search">
    <app-button [iconName]="'fa-search'"></app-button>
  </div>
  <div class="menu">
    <app-button [iconName]="'fa-navicon'"></app-button>
  </div>
</div>
